//
// VARIABLES: Notifications
// --------------------------------------------------

// Notifications module
@notifications-padding: 				0.8 * @padding-base-horizontal @padding-base-horizontal;
@notifications-border: 					1px solid @gray-lighter;

@notifications-hover-bg: 				#f9f9f9;
@notifications-hover-active: 			darken(@notifications-hover-bg, 2%);


// Notifications icon
@notifications-icon-font-size: 		0.786 * @font-size-base; // ~ 11px
@notifications-icon-bg: 			red;
@notifications-icon-color: 			#fff;
@notifications-icon-radius: 		10px;

// Notifications Dropdown Panel
@notifications-dropdown-width:   	450px;
@notifications-toolbar-bg:			#fff;
@notifications-footer-bg:  			@gray-lighter;


// Notifications Media
@notifications-media-radius: 		30px;